@model IEnumerable<AppProduct.Models.Product>
@{
    ViewData["Title"] = "Products Page";
}

<h2>Products List</h2>
<a asp-controller="Product" asp-action="SearchProduct" class="btn btn-dark">Search Products</a>
<a asp-controller="Product" asp-action="AddProduct" class="btn btn-success">Add Products</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
